<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <springProperty scope="context" name="appName" source="spring.application.name" />
  <springProperty scope="context" name="ip" source="spring.cloud.client.ipAddress" />
  <!--定义日志文件的存储地址-->
  <property name="LOG_HOME" value="." />
  <property name="CONSOLE_LOG_PATTERN"
            value="[%blue(%d{yyyy-MM-dd HH:mm:ss.SSS}) ${ip} %yellow(${appName}) %highlight(%-5level)  %yellow(%thread) %green(%logger) : %msg%n"/>
  <!-- 控制台输出 -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder charset="UTF-8">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 按照每天生成日志文件 info log 文件 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE-INFO">
    <file>${LOG_HOME}/logs/log_info/log_info.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/logs/log_info/log_info.-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 按照每天生成日志文件 error log 文件 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE-ERROR">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--日志文件输出的文件名-->
      <FileNamePattern>${LOG_HOME}/logs/log_err/log_error.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!--日志文件保留天数-->
      <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
    <!--过滤器-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <logger level="ERROR" name="org.mongodb.morphia.query.QueryValidator">
    <appender-ref ref="FILE-ERROR"/>
  </logger>

  <!-- 日志输出级别 -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE-INFO"/>
    <appender-ref ref="FILE-ERROR"/>
  </root>

</configuration>